* {
    font-family: "Montserrat", sans-serif;
    }

header,article {
    max-width: 1440px;
    padding: 0px 100px;
        
    }

main {
    max-width: 1440px;
    padding: 50px 100px;

    @media (max-width: 1025px) {
        padding: 27px 25px;
    }

    @media screen and (max-width: 768px){
        padding: 27px 20px;  
    }
}