.header {
  max-width: 1440px;
  padding-top: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: 768px){
    padding: 20px 20px 0;      
  }

  img {
    @media screen and (max-width: 768px){
        height: 47px;   
    }
  }

  nav {
    display: flex;
    gap: 57px;
    @media screen and (max-width: 768px){
        gap: 25px;
    }
  }

  a {
    text-decoration: none;
    color: #ff6060;
    font-size: 24px;
    font-weight: 500;
    @media screen and (max-width: 768px){
        font-size: 12px;
    }
  }

  a.active {
    text-decoration: underline;
  }
}
