.banner {
    display: flex;
    justify-content: center;
    align-items: center;

    h2 {
        color: white;
        font-size: 48px;
        position: absolute;
        z-index: +1;
        font-weight: 500;
        width: 80%;
        text-align: center;
        
        @media screen and (max-width: 768px){
            font-size: 24px;
            left: 35px;
            text-align: start;
            
        }

    }

    img {
        object-fit: cover;
        border-radius: 25px;
        height: 223px;
        width: 100%;
        filter: brightness(0.7);

        @media screen and (max-width: 768px){
            border-radius: 10px;
            height: 111px;   
        }
    }
}